body {
    background-color: #F7F9FF;
}

.bg-surface {
    background-color: #F7F9FF;
}

.div-tam-1 {
    width: 1100px;
    max-width: 100%;
}

.div-tam-2 {
    width: 750px;
    max-width: 100%;
}

.font-tam1 {
    font-size: 5vh;
}

.stages {
    width: 40px;
    height: 40px;
}

.line-1 {
    background-color: #C2C6D8;
    height: 2px;
    width: 300px;
}

.line-2 {
    background-color: #C2C6D8;
    height: 1px;
    width: 100%;
}

.label-position {
    top: -10px;
    left: 20px;
}