body {
    background-color: #F7F9FF;
}

.bg-surface {
    background-color: #F7F9FF;
}

.div-tam-1 {
    width: 120vh;
}

.div-tam-2 {
    width: 40vw;
}

.font-tam1 {
    font-size: 5vh;
}

.stages {
    width: 4.1vh;
    height: 4.1vh;
}

.line {
    background-color: #C2C6D8;
    height: 3px;
    width: 100px;
}